footer
  .container.text-center
    //- p.float-left © 2021 cueball holdings. All Rights Reserved
    ul.float-right.list-inline
      //- li.list-inline-item
      //-   a(href='https://github.com/sahat/hackathon-starter') GitHub Project
      //- li.list-inline-item
      //-   a(href='https://github.com/sahat/hackathon-starter/issues') Issues
