extends layout

block content
  .logo-image-block
    img.homepage_logo(src="dark_logo_white_background.jpg", alt="cueball logo")

  p.lead Simple and privacy-friendly alternative to Track JS. Frontend monitoring simplified.
  hr
  .row
    .cta-block
      a.btn.btn-primary.home-buttons(href='/login') Start My Free Trial
      a.btn.btn-success.home-buttons(href='submit') Watch a Demo
